<footer class="mt-auto">

  

  <!-- CONTACTS -->
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col">
        <p class="fs-4 mb-0">Есть что обсудить?</p>
        <p class="fs-2 mb-0"><a href="mailto:{{site.email}}?subject=Весточка с сайта-портфолио" onclick="yaCounter44663041.reachGoal('order_footer'); return true;">hello@pavelmednikov.com</a></p>
      </div>
    </div>
  </div>
  <!-- END CONTACTS -->

  <!-- COPYRIGHT -->
  <div class="container-fluid pt-4 pb-3">
    <div class="row">
      <div class="col-10">
        <p class="fs-4 mb-0">&copy; 2010…{{site.time|date:'%Y'}} {{site.author}}</p>
      </div>
    </div>
  </div>
  <!-- END COPYRIGHT -->
</footer>