<header class="pb-5">
  <nav class="navbar navbar-expand-md navbar-light py-3">
    <div class="container-fluid">

      {% if page.layout == 'home' %}
      <span class="navbar-brand p-0 fs-3">Паша Медников</span>
      {% else %}
      <a class="navbar-brand p-0 fs-3" href="/">Паша Медников</a>
      {% endif %}

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ms-3 fs-3">
          <li class="nav-item">
            <a class="nav-link p-0" href="{{site.baseurl}}/#works">дизайн</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link p-0{% if page.url contains 'blog' %} active{% endif %}" href="{{site.baseurl}}/blog/">статьи</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link p-0{% if page.url contains 'about' %} active{% endif %}" href="{{site.baseurl}}/about/">резюме</a>
          </li>
        </ul>
      </div>

      {% comment %}
      <div class="row">

        <div class="col-10 col-md-3">
          {% if page.layout == 'home' %}
          <span class="navbar-brand w-100 p-0 fs-3">Паша Медников</span>
          {% else %}
          <a class="navbar-brand p-0 fs-3" href="/">Паша Медников</a>
          {% endif %}
        </div>

        <div class="col-10 col-md-7">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto ms-md-auto fs-3">
              <li class="nav-item">
                <a class="nav-link p-0 ms-0 me-2" href="{{site.baseurl}}/#works">дизайн</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link p-0 mx-2{% if page.url contains 'blog' %} active{% endif %}" href="{{site.baseurl}}/blog/">статьи</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link p-0 ms-2 me-0{% if page.url contains 'about' %} active{% endif %}" href="{{site.baseurl}}/about/">резюме</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      {% endcomment %}
      
    </div>
  </nav>
</header>

