<div class="container-fluid pb-3">
  <div class="row pt-5 pb-4">

    <div class="col-10 pb-3">
      <h4>Почитать ещё</h4>
    </div>

    {% if page.previous.url%}
    <div class="col-10 col-lg-5 pb-4 fs-4">
      <h3 class="mb-3"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
      {% if page.previous.excerpt %}
      <div>{{ page.previous.excerpt }}</div>
      {% endif %}
      <div class="text-muted">{% include date.html %}</div>
    </div>
    {% endif %}

    {% if page.next.url%}
    <div class="col-10 col-lg-5 pb-4 fs-4">
      <h3 class="mb-3"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h3>
      {% if page.next.excerpt %}
      <div>{{ page.next.excerpt }}</div>
      {% endif %}
      <div class="text-muted">{% include date.html %}</div>
    </div>
    {% endif %}



    {% comment %}
    <div class="col-10">
      <div class="hstack gap-3 fs-3">
        {% if page.previous.url%}
        <div class="position-relative link border-0">
          &larr; <a href="{{ page.previous.url }}" class="previous stretched-link">{{page.previous.title}}</a>
        </div>
        {% endif %}
        {% if page.next.url %}
        <div class="position-relative link border-0">
          <a href="{{ page.next.url }}" class="next stretched-link">{{page.next.title}}</a> &rarr;
        </div>
        {% endif %}
      </div>
    </div>
    {% endcomment %}

  </div>
</div>
