{% if paginator.total_pages > 1 %} 
<div class="container-fluid pb-3">
  <div class="row pb-4">
    <div class="col-10">
      <div class="hstack gap-3 fs-4">
        {% if paginator.previous_page %}
        <div class="position-relative link border-0">
          &larr; <a href="{{ paginator.previous_page_path }}" class="previous stretched-link">Назад</a>
        </div>
        {% endif %}
        <div>
          <span class="text-muted">Страница {{ paginator.page }}&nbsp;из&nbsp;{{ paginator.total_pages }}</span>
        </div>
        {% if paginator.next_page %}
        <div class="position-relative link border-0">
          <a href="{{ paginator.next_page_path }}" class="next stretched-link">Дальше</a> &rarr;
        </div>
        {% endif %}
      </div>
      
    </div>
  </div>
</div>
{% endif %}