@import "../bootstrap-5.3.0/scss/functions";

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Thin.woff') format('woff');
  font-weight: 100;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Light.woff') format('woff');
  font-weight: 200;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Light.woff') format('woff');
  font-weight: 300;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Regular.woff') format('woff');
  font-weight: 400;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Medium.woff') format('woff');
  font-weight: 500;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Medium.woff') format('woff');
  font-weight: 600;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Bold.woff') format('woff');
  font-weight: 700;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style:normal
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest/WOFF/Onest-Black.woff') format('woff');
  font-weight: 900;
  font-style:normal
}

// === Default variable overrides ===
$white:    #fff !default;
$gray-100: #f8f9fa !default;
// $gray-100: #f7f7f7 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

$indigo-100: tint-color($indigo, 80%) !default;
$indigo-200: tint-color($indigo, 60%) !default;
$indigo-300: tint-color($indigo, 40%) !default;
$indigo-400: tint-color($indigo, 20%) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 20%) !default;
$indigo-700: shade-color($indigo, 40%) !default;
$indigo-800: shade-color($indigo, 60%) !default;
$indigo-900: shade-color($indigo, 80%) !default;

$purple-100: tint-color($purple, 80%) !default;
$purple-200: tint-color($purple, 60%) !default;
$purple-300: tint-color($purple, 40%) !default;
$purple-400: tint-color($purple, 20%) !default;
$purple-500: $purple !default;
$purple-600: shade-color($purple, 20%) !default;
$purple-700: shade-color($purple, 40%) !default;
$purple-800: shade-color($purple, 60%) !default;
$purple-900: shade-color($purple, 80%) !default;

$pink-100: tint-color($pink, 80%) !default;
$pink-200: tint-color($pink, 60%) !default;
$pink-300: tint-color($pink, 40%) !default;
$pink-400: tint-color($pink, 20%) !default;
$pink-500: $pink !default;
$pink-600: shade-color($pink, 20%) !default;
$pink-700: shade-color($pink, 40%) !default;
$pink-800: shade-color($pink, 60%) !default;
$pink-900: shade-color($pink, 80%) !default;

$red-100: tint-color($red, 80%) !default;
$red-200: tint-color($red, 60%) !default;
$red-300: tint-color($red, 40%) !default;
$red-400: tint-color($red, 20%) !default;
$red-500: $red !default;
$red-600: shade-color($red, 20%) !default;
$red-700: shade-color($red, 40%) !default;
$red-800: shade-color($red, 60%) !default;
$red-900: shade-color($red, 80%) !default;

$orange-100: tint-color($orange, 80%) !default;
$orange-200: tint-color($orange, 60%) !default;
$orange-300: tint-color($orange, 40%) !default;
$orange-400: tint-color($orange, 20%) !default;
$orange-500: $orange !default;
$orange-600: shade-color($orange, 20%) !default;
$orange-700: shade-color($orange, 40%) !default;
$orange-800: shade-color($orange, 60%) !default;
$orange-900: shade-color($orange, 80%) !default;

$yellow-100: tint-color($yellow, 80%) !default;
$yellow-200: tint-color($yellow, 60%) !default;
$yellow-300: tint-color($yellow, 40%) !default;
$yellow-400: tint-color($yellow, 20%) !default;
$yellow-500: $yellow !default;
$yellow-600: shade-color($yellow, 20%) !default;
$yellow-700: shade-color($yellow, 40%) !default;
$yellow-800: shade-color($yellow, 60%) !default;
$yellow-900: shade-color($yellow, 80%) !default;

$green-100: tint-color($green, 80%) !default;
$green-200: tint-color($green, 60%) !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;

$teal-100: tint-color($teal, 80%) !default;
$teal-200: tint-color($teal, 60%) !default;
$teal-300: tint-color($teal, 40%) !default;
$teal-400: tint-color($teal, 20%) !default;
$teal-500: $teal !default;
$teal-600: shade-color($teal, 20%) !default;
$teal-700: shade-color($teal, 40%) !default;
$teal-800: shade-color($teal, 60%) !default;
$teal-900: shade-color($teal, 80%) !default;

$cyan-100: tint-color($cyan, 80%) !default;
$cyan-200: tint-color($cyan, 60%) !default;
$cyan-300: tint-color($cyan, 40%) !default;
$cyan-400: tint-color($cyan, 20%) !default;
$cyan-500: $cyan !default;
$cyan-600: shade-color($cyan, 20%) !default;
$cyan-700: shade-color($cyan, 40%) !default;
$cyan-800: shade-color($cyan, 60%) !default;
$cyan-900: shade-color($cyan, 80%) !default;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "blue":     	$blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":     	$pink,
  "red":     	  $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":     	$green,
  "teal":     	$teal,
  "cyan":     	$cyan,
);


// Spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
) !default;

// Body
$body-bg:                   $white !default;
// $body-color:                $white !default;

// Links
$link-color:                              $black !default;
// $link-color:                              $blue-700!default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
// $link-hover-color:                        shift-color($blue-600, $link-shade-percentage) !default;
$link-hover-color:                        $blue-700 !default;
// $link-hover-color:                        $yellow !default;
// $link-hover-decoration:                   null !default;
// $stretched-link-pseudo-element:           after !default;
// $stretched-link-z-index:                  1 !default;

// Grid columns
$grid-columns:                10 !default;
$grid-gutter-width:           1.5rem !default;
// $grid-row-columns:            6 !default;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 4,
  5: $spacer * 8,
);

// Container padding
$container-padding-x: $grid-gutter-width * 2 !default;

// Components
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),

  "8x9": calc(9 / 8 * 100%), //custom
  "2x3": calc(3 / 2 * 100%), //custom
) !default;

// Typography
$font-family-sans-serif:      'Onest', 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$line-height-base:            1.25 !default;
$line-height-sm:              1 !default;
$line-height-lg:              1.5 !default;

// $h1-font-size:                $font-size-base * 7.5 !default;
$h1-font-size:                $font-size-base * 5.625 !default;
$h2-font-size:                $font-size-base * 3.75 !default;
$h3-font-size:                $font-size-base * 1.875 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base !default;

h1, .h1, .fs-1{
  // line-height: 8rem;
}
h2, .h2, .fs-2{
  // line-height: 4rem;
}
h3, .h3, .fs-3{
  // line-height: 2rem;
}
h4, .h4, .fs-4,
h5, .h5, .fs-5,
h6, .h6, .fs-6{
  // line-height: 1.5rem;
}
// $h1-font-size:                $font-size-base * 4 !default;
// $h2-font-size:                $font-size-base * 3 !default;
// $h3-font-size:                $font-size-base * 2 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;

$headings-font-weight:        400 !default;
$headings-line-height:        1.125 !default;


// Navbar
$navbar-light-color:                $black !default;
// $navbar-light-hover-color:          rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
// $navbar-light-active-color:         $blue-600 !default;
// $navbar-light-disabled-color:       rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;


@import "../bootstrap-5.3.0/scss/bootstrap";

// === Additional custom code here ===
a,
.link,
.link-white,
.link-light,
.link-dark,
.nav-link,
a.navbar-brand{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba($link-color, .16);
  // transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:hover{
    color: rgba($link-hover-color, .8);
    border-bottom-color: rgba($link-hover-color, .8);
  }

  &.link-dark{
    border-bottom-color: rgba($dark, .24);
    &:hover{
      border-bottom-color: rgba($dark, .6);
    }
  }

  &.active{
    color: rgba($link-hover-color, .8);
    border-bottom-color: transparent;
    &:hover{
      // border-bottom-color: rgba($dark, .6);
    }
  }
}

.navbar-nav .nav-item{
  .nav-link{
    display: inline-block;
    margin-right: 1rem;
  }
  &:last-child{
    .nav-link{
      margin-right: 0;
    }
  }
} 
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
  color: rgba($link-hover-color, .8);
}

.navbar-toggler-icon{
  width: 1em;
  height: 1em;
}



.case{
  .case-img,
  .case-img-lg,
  .case-img-sm{
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: 100%;
      // padding-bottom: 25%;
      overflow: hidden;
      img{
        transition: all 0.15s ease-in-out;
      }
  }

  &:hover{
    .case-img{
        img{
          transform: scale(1.02);
        }
    }
    .case-img-lg{
      img{
          transform: scale(1.01);
        }
    }
    .case-img-sm{
      img{
          transform: scale(1.03);
        }
    }
  }
}

.project,
.post{
  h2,h3,h4,h5,h6,
  .h2,.h3,.h4,.h5,.h6,
  p,
  hr{
    max-width: 768px;
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.25rem;
  }
  img{
    max-width: 100%;
  }
  p:has(img) {
    // max-width: 100%;
  }
}

// .grid-row {
//   display: grid;
//   gap: 1rem;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   // margin-inline: auto;
//   // border: 1px dashed rgb(255 255 255 / 0.4);
//   .grid-item {
//     position: relative;
//     background-color: $dark;
//     overflow: hidden;
//     will-change: transform;
//     &:before {
//       content: "";
//       height: 0;
//       display: inline-block;
//       padding-top: calc(3 / 2 * 100%);
//       width: 1px;
//       position: relative;
//     }
//     .case-img{
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;
//       transition: transform 0.15s ease-in-out, opacity 500ms ease-out 0s !important;
//     }
//     .case-gradient-container{
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       bottom: 0;
//     }
//     &:hover {
//       .case-img{
//         transform: scale(1.02);
//       }
//     }
//   }
//   &.grid-row-lg {
//     .grid-item {
//       grid-column: 1 / 5;
//       &:before{
//         padding-top: calc(9 / 21 * 100%);
//       }
//     }
//   }
//   &.grid-row-md-center {
//     .grid-item {
//       &:nth-child(2) {
//         grid-column: 2 / 4;
//         &:before{
//           padding-top: calc(3 / 4 * 100%);
//         }
//       }
//     }
//   }
//   &.grid-row-md-left {
//     .grid-item {
//       &:nth-child(1) {
//         grid-column: 1 / 3;
//         &:before{
//           padding-top: calc(3 / 4 * 100%);
//         }
//       }
//     }
//   }
//   &.grid-row-md-right {
//     .grid-item {
//       &:nth-child(3) {
//         grid-column: 3 / 5;
//         &:before{
//           padding-top: calc(3 / 4 * 100%);
//         }
//       }
//     }
//   }
//   &.grid-row-md-double {
//     grid-template-columns: 1fr 1fr;
//     .grid-item {
//       &:before{
//         padding-top: calc(3 / 4 * 100%);
//       }
//     }
//   }
// }

// @include media-breakpoint-down(lg) {
//   .grid-row {
//     grid-template-columns: 1fr 1fr;
//     &.grid-row-lg {
//       .grid-item {
//         grid-column: 1 / 3;
//         &:before{
//           padding-top: calc(3 / 4 * 100%);
//         }
//       }
//     }
//     &.grid-row-md-center {
//       grid-template-rows: 1fr 1fr;
//       .grid-item {
//         &:nth-child(1),
//         &:nth-child(3) {
//           grid-row: 1 / 2;
//         }
//         &:nth-child(2) {
//           grid-row: 2 / 3;
//           grid-column: 1 / 3;
//         }
//       }
//     }
//     &.grid-row-md-right {
//       .grid-item {
//         &:nth-child(3) {
//           grid-column: 1 / 3;
//         }
//       }
//     }
//     &.grid-row-md-double {
//       grid-template-columns: 1fr;
//     }
//   }
// }



// .grid-container{
//   border: 1px dashed rgb(255 255 255 / 0.4);
//   margin-inline: auto;
//   // padding: 0.5rem;

//   .grid-row{
//     display: flex;
//     gap: 1rem;

//     .grid-item{
//       flex-basis: 0;
//       // aspect-ratio: 16 / 9;
//       // flex-grow: calc(16 / 9);
//       // flex-shrink: calc(var(--ratio));

//       &.grid-item-1x1{
//         aspect-ratio: 1 / 1;
//         flex-grow: calc(1 / 1);
//       }
//       &.grid-item-2x3{
//         aspect-ratio: 2 / 3;
//         flex-grow: calc(2 / 3);
//       }
//       &.grid-item-4x3{
//         aspect-ratio: 4 / 3;
//         flex-grow: calc(4 / 3);
//       }
//       &.grid-item-16x9{
//         aspect-ratio: 16 / 9;
//         flex-grow: calc(16 / 9);
//       }
//       &.grid-item-21x9{
//         aspect-ratio: 21 / 9;
//         flex-grow: calc(21 / 9);
//       }
//     }
//   }
// }
// @include media-breakpoint-down(lg) {
//   .grid-container{
//     .grid-row-shrink{
//       // flex-direction: column;
//       // flex-wrap: wrap;
//       .grid-item{
//         &.grid-item-2x3{
//           aspect-ratio: 4 / 3;
//           flex-grow: calc(4 / 3);
//         }
//         &.grid-item-4x3{
//           // aspect-ratio: 16 / 9;
//           // flex-grow: calc(16 / 9);
//         }
//       }
//     }
//   }
// }
// @include media-breakpoint-down(md) {
//   .grid-container{
//     .grid-row{
//       flex-direction: column;
//       .grid-item{
//         &.grid-item-1x1,
//         &.grid-item-2x3,
//         &.grid-item-4x3,
//         &.grid-item-16x9,
//         &.grid-item-21x9{
//           aspect-ratio: 16 / 9;
//           flex-grow: calc(16 / 9);
//         }
//       }
//     }
//   }
// }



// MEDIA QUERIES

// $h1-font-size:                $font-size-base * 5.625 !default;
// $h2-font-size:                $font-size-base * 3.75 !default;
// $h3-font-size:                $font-size-base * 1.875 !default;
// $h4-font-size:                $font-size-base * 1.25 !default;
@include media-breakpoint-down(md) {

  h1, .h1, .fs-1{
    font-size: $font-size-base * 1.5 !important;
  }
  h2, .h2, .fs-2{
    font-size: $font-size-base * 1.25 !important;
  }
  h3, .h3, .fs-3{
    font-size: $font-size-base * 1.125 !important;
  }
  h4, .h4, .fs-4,
  h5, .h5, .fs-5,
  h6, .h6, .fs-6{
    font-size: $font-size-base !important;
  }

  .project{
    p{
      font-size: 1rem;
    }
  }
}




