---
layout: default
---


<div class="project">
  
  <!-- HERO -->
  <div class="container-fluid pt-5 pb-3">
    <div class="row pb-4">
      <div class="col-10">
        <h1 class="lh-1 pb-3">{{page.title}}</h1>
        {% if page.description %}
        <p class="fs-4">{{page.description}}</p>
        {% endif %}
        {% if page.src %}
        <p class="fs-4 position-relative d-inline-block">

          {% if page.favicon %}
            <img src="{{site.baseurl}}/src/img/project_img/{{page.folder}}/favicon.ico" width="24" height="24" class="rounded">
          {% endif %}

          <a href="{{page.src}}" target="_blank" class="stretched-link">{{page.src | remove: "https://"}}</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- END HERO -->

  <!-- PROJECT -->
  {% if page.full %}
  <section class="project-full">
    {{content}}
  </section>
  {% else %}
  <div class="container-fluid">
    <div class="row pb-4">
      <div class="col">
        {{content}}
      </div>
    </div>
  </div>
  {% endif %}
  <!-- END PROJECT -->

</div>



